<div class="container-fluid">
    <div class="add">
       @if(!statusAdd) {
        <i (click)="showFormAdd()" class="fa fa-plus-circle" aria-hidden="true"></i>
       }
        @else {
         <i (click)="hideFormAdd()" class="fa fa-trash text-danger" aria-hidden="true"></i>
        }
    </div>
    
    @if(statusAdd || !statusAdd) {
        <div class="row mt-5">
           <div class="col-xs-12 col-sm-12 col-md-8 mx-auto">
              <div class="card">
                <div class="card-body">
                  <form [formGroup]="quizForm" (ngSubmit)="createQuiz()">
                    <div class="row mb-2">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          <label for="title" class="form-label text-muted">titre</label>
                          <input 
                                formControlName="title"
                                type="text" 
                                class="form-control form-control-sm"
                                id="title"
                                name="title" 
                                placeholder=""
                                required
                          >
                      </div>
                    </div>
  
                    <div class="row mb-2 gx-2">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                          <label for="dateDebut" class="form-label text-muted">Date Debut</label>
                          <input 
                                formControlName="dateDebut"
                                type="datetime-local" 
                                class="form-control form-control-sm"
                                id="dateDebut"
                                name="dateDebut"
                                placeholder=""
                                required

                                >
                      </div>
                      <div class="col-xs-12 col-sm-12 col-md-6">
                          <label for="dateFin" class="form-label text-muted">Date Fin</label>
                          <input 
                                formControlName="dateFin"
                                type="datetime-local" 
                                class="form-control form-control-sm"
                                id="dateFin"
                                name="dateFin"
                                placeholder=""
                                required
                          >
                      </div>
                    </div>
  
                    <div class="row mb-4 gx-2">
                      <div class="col-xs-12 col-sm-12 col-md-6">
                          <label for="numberQuestion" class="form-label text-muted">total questions</label>
                          <input 
                                formControlName="numberQuestion"
                                type="text" 
                                class="form-control form-control-sm"
                                id="numberQuestion"
                                name="numberQuestion" 
                                placeholder=""
                                required
                          >
                      </div>
  
                      <div class="col-xs-12 col-sm-12 col-md-6">
                          <label for="numberPerson" class="form-label text-muted">total personne</label>
                          <input 
                                formControlName="numberPerson"
                                type="text" 
                                class="form-control form-control-sm"
                                id="numberPerson"
                                name="numberPerson" 
                                placeholder=""
                                required
                          >
                      </div>
                    </div>

                    <div class="row ">
                      <div class="col-xs-12 col-sm-12 col-md-12">
                          <button class="btn btn-primary">Genere Quiz</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>   
           </div>
        </div>
    }
</div>